
.block-myoverview {

    .course-summaryitem {
        // Add some more padding to make it look good without the course logos.
        padding: .5rem 1.25rem!important;

        // Remove course logos.
        .summaryimage {
            display: none;
        }
    }
}