/*Change design of downloadcenter*/
#page-local-downloadcenter_rwth-index{ 

	/*create same padding width for main box*/
	#region-main >.card > .card-body{
		padding: 0.9rem 0.9rem;
	}

	form {
		/*make "ACHTUNG: Im Download Center werden ..." less visible*/
		.warningmessage{
			font-size: 0.93rem;
			display: none;
		}

		/*change style of filterbox*/      
		.grouped_settings{
			padding-left: 0 !important;
			padding-top: 0.5rem !important;
			padding-bottom: 0 !important;
			background-color: #E8F1FA !important;
			
			/*reset display attribute changes (Was needed because of display attribute change because of floating the icons to the left - otherwise icons and checkboxes would overlap)*/
			.itemtitle{ 
				display: inline-flex !important;
			}
			
			.downloadcenter_selector div:nth-child(2) span{
				vertical-align: top;
			}
		}

		/*change padding of inner boxes*/
		.card.block {
			padding: .8rem .8rem 0.5rem .8rem;
			word-wrap: normal;
			-ms-word-break: break-all;
			word-break: break-word;

			/*move first element of an box more to the left than the other elements*/
			.form-group:first-child{
				
				padding-bottom: 5px;
				
				.checkbox{
					padding-left:0;
				}
			}
						
			/*styles for each fileentry*/
			.form-group { 
							/*reduce space between elements*/
				margin-bottom: 0px;
							

				/*move/float icon to the left and change its size and reset the value for margin-top*/
				.activityicon{ 
					width: 20px;
					height: 20px;
					float: left;
					margin-top: 0;
					margin-right: 5px;
					position: relative;
					top: 3px;
				}
							
				
				.itemtitle{ 
					/*clear the float with css workaround to prevent overlapping elements*/
					overflow: hidden;
					display: block;
					zoom:1; 
					
					span{
						/*vertical align all elements in the same row*/
						position: relative;
						top:3px;
					}
				}

				/*reduce space between elements*/
				.form-check{ 
					label{
						margin-bottom: 0;
					}
				}
				
				/*Change cursor for entries to "hand"*/
				.form-check, .form-check label, .form-check label input, .form-check label .itemtitle span,.form-check label .sectiontitle span, .form-check label .itemtitle img,.form-check label .sectiontitle img{
					cursor: pointer;
				}
				
				/*Add hovereffect for all entries*/
				.checkbox:hover{
					background-color: #E8F1FA; 
				}
							
			}              
		}
		/*remove space around buttons and align them left*/
		> div:last-child{

			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 0 !important;
							
			.felement{
				padding: 0 !important;
			}
			
			> div.col-md-3{
				display: none;
			}
		}
	}
	/*change backgroundcolor for grey section boxes*/
	#region-main :nth-child(2n).card.block{ 
		background-color: #f8f9fa;
	}
}

@media (max-width: 768px) {
	#page-local-downloadcenter_rwth-index form > div:last-child {             
		.felement label{
			display:inline;                                                   
		}
	}
}
