
$frontpage-dashed-line: 1px dashed rgb(156, 158, 159);
$outerpadding: 4.7rem;
$outerpaddingtouch: 1.7rem;
$maxcontentwidth: 1400px;
$newsverticalpadding: 1rem;
$newsindentation: 2rem;
$frontpage-column-min-width: 24rem;
$button-fontsize: 0.85rem;
$button-padding: .55rem .75rem .4rem .75rem;


#page-site-index.pagelayout-frontpage {

    /* Make sure <body> covers the whole page. */
    height: 100%;

    /* Remove borders around blocks. */
    .card {
        border: 0;
    }
    /* But show borders around white blocks when background image is not shown. */
    @include media-breakpoint-down(md) {
        #region-main .card,
        #block-region-side-pre .block_html .card-body {
            border: 1px solid rgba(0,0,0,.125);
        }
    }

    /* We only need the edit button. Rest of the header should not be visible. */
    #page-header {
        height: 0;
    }

    #page {

        /* Limit max width of content. */
        max-width: $maxcontentwidth;

        /* Block region layout. */
        display: flex;
        flex-direction: row;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
        #main-region-wrapper {
            flex: 1;
            min-width: $frontpage-column-min-width;
            @include media-breakpoint-down(sm) {
                min-width: 0;
            }
            display: flex;
            flex-direction: column;
            #region-main {
                width: auto;
            }
        }
        #side-region-wrapper {
            min-width: $frontpage-column-min-width;
            @include media-breakpoint-down(sm) {
                min-width: 0;
            }
            width: $frontpage-column-min-width;
            float: none;
            @include media-breakpoint-down(md) {
                margin-left: auto !important;
                margin-right: auto !important;
                width: 100%;
            }
        }

        /* Show/hide certain block regions on mobile/desktop. */
        [data-region="login-desktop-blocks"] {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        [data-region="login-mobile-blocks"] {
            display: none;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }

        /* Spacing around block regions. */
        padding: $outerpadding;
        padding-bottom: calc($outerpadding - 27px); // Subtract copyright height.
        @include media-breakpoint-down(md) {
            padding: $outerpaddingtouch;
        }
        > *:not(:first-child) {
            margin-left: 1rem;
            @include media-breakpoint-down(md) {
                margin-top: 1rem;
            }
        }

        #block-region-above-content {
            .card {
                background-color: rgba(255, 240, 85, .925);
                .card-body > .card-text {
                    margin-top: 0 !important;
                }
            }
        }

        /* Make all <hr> dashed grey lines. */
        hr {
            border-top: $frontpage-dashed-line;
        }

        #site-news-forum {

            /* Hide subscribe link. */
            .subscribelink {
                display: none;
            }
            
            h2 {
                /* Remove heading size. */
                margin-bottom: $newsverticalpadding;

                /* Change spacing and indentation of news items. */
                font-size: 1.171875rem;
            }
            .forumpost {
                padding: $newsverticalpadding 0 !important;
                .body-content-container .content-alignment-container {
                    margin-left: $newsindentation;
                }
            }

            /* Hide author. */
            .forumpost {
                address {
                    font-size: 0;
                    time {
                        /* Make date string smaller. */
                        font-size: .775rem;
                    }
                }
                .author-groups-container {
                    display: none;
                }
            }

            /* Change news item format. */
            .forum-post-container {
                margin-bottom: 0 !important;
                .forumpost {
                    background-color: transparent !important;
                    border: 0 !important;
                    border-bottom: $frontpage-dashed-line !important;
                    border-top: $frontpage-dashed-line !important;
                    margin-bottom: 0 !important;
                }
            }
            .forum-post-container ~ .forum-post-container .forumpost {
                border-top: 0 !important;
            }

            /* Remove space to the left of posts. */
            .forumpost header {
                margin: 0 !important;
            }

            /* Hide forum commands/links of news items. */
            .forumpost {
                .header > .mr-2,
                .link,
                .post-actions {
                    display: none !important;
                }
            }

            /* Change space around forum posts. */
            .post-content-container {
                margin-top: 0;
                br:nth-last-child(2) {
                    display: none;
                }
            }
            
            /* Increase distance between subject and date. */
            [data-region-content="forum-post-core-subject"] {
                line-height: 1.5;
            }

            /* Remove spacing between <p> etc. */
            .post-content-container > * {
                margin-bottom: 0;
            }

            [id^="discussion-list-"] > div {
                /* Add spacing to "new topic" button. */
                margin-bottom: 2rem;
                margin-top: 0;
                padding: 0 !important;

                /* Change button style. */
                a[href="#collapseAddForm"] {
                    font-size: $button-fontsize;
                    padding: $button-padding;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: black;
                    background-color: #cfd1d2;
                    border-color: #cfd1d2;

                    &:after {
                        font-family: FontAwesome;
                        content: "\f078";
                        font-weight: normal;
                        margin-left: .75rem;
                        vertical-align: middle;
                        position: relative;
                        bottom: 0.1rem;
                    }
                    &[aria-expanded="true"]:after {
                        content: "\f077";
                    }
                    &:hover {
                        color: white !important;
                        background-color: #00549f !important;
                        border-color: #00549f !important;
                    }
                }
            }

            .forum-post-container ~ a[href*="/mod/forum/view.php"] {
                font-size: $button-fontsize;
                display: inline-block;
                padding: $button-padding;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
                user-select: none;
                border: 1px solid transparent;
                line-height: 1.5;
                transition:
                    color .15s ease-in-out,
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
                border-radius: 5px;
                color: black;
                background-color: #cfd1d2;
                border-color: #cfd1d2;

                &:after {
                    // font-size: $button-fontsize;
                    font-family: FontAwesome;
                    content: "\f054";
                    font-weight: normal;
                    margin-left: .75rem;
                    vertical-align: middle;
                }
                &:not(:disabled):not(.disabled) {
                    cursor: pointer;
                }
                &:hover {
                    color: white;
                    background-color: #00549f;
                    border-color: #00549f;
                    text-decoration: initial;
                }

                /* Add space above old topics link. */
                margin-top: 2*$newsverticalpadding;
            }
        }

        /* Make main region and blocks transparent. */
        .card {
            background-color: rgba(255, 255, 255, .925);
        }

        #region-main {

            /* Make surrounding box completely transparent. */
            background-color: transparent;
            border: 0;
            padding: 0;

            .card .card-body {
                /* Same padding as blocks. */
                padding: 1rem !important;

                /* Remove unnecessary space at bottom of main content region. */
                min-height: 0;
                [role="main"] > br {
                    display: none;
                }
    
                /* Remove borders. */
                border: none;
                
                /* Hide area for site description etc. */
                [role="main"] {
                    #maincontent,
                    .sitetopic,
                    .buttons {
                        display: none;
                    }
                }
            }
        }

        /* Color shib login block differently. */
        .block_login_shibboleth {
            background-color: rgba(0, 84, 159, .925);
            color: white;
            .btn {
                font-size: $button-fontsize;
                padding: $button-padding;
                text-transform: uppercase;
                font-weight: bold;
            }
            .btn-primary {
                background-color: black;
            }
            .fa {
                color: white !important;
            }
            .additional-info {
                hr {
                    border-top: dashed 1px white;
                }
                a {
                    color: white;
                    text-decoration: underline;
                }
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        /* Different color for "Add block" block. */
        .block_adminblock {
            background-color: rgba(199, 221, 242, .925);
        }
    }

    .navbar {

        /* Remove padding. */
        padding: 0;

        /* Hide nav-drawer button. */
        div[data-region="drawer-toggle"] {
            display: none !important;
        }

        /* Hide user menu. */
        .nav.navbar-nav.ml-auto {
            display: none;
        }

        .navbar-content {
            /* Add horinzontal padding to line up navbar elements with page
             * content. */
            padding: 0 $outerpadding;
            @include media-breakpoint-down(md) {
                padding: 0 $outerpaddingtouch;
            }

            /* Limit horizontal width analogous to page content and footer. */
            max-width: $maxcontentwidth;
            margin: auto;

            /* Fix some styles after we put a div.navbar-content around all navbar elements. */
            width: 100%;
            height: 40px;
            display: flex;
            .navbar-brand {
                padding: 0;
                .logo img {
                    margin-top: 0;
                }
                .site-name {
                    bottom: 5px;
                }
                @include media-breakpoint-down(xs) {
                    padding-top: 0.5rem;
                    .site-name {
                        bottom: 0;
                    }
                }
            }
        }
    }

    /* Make copyright notice visible. */
    .copyright-notice-wrapper {
        /* Add negative top margin that matches element height: 1.5 * font-size + vertical padding. */
        margin-top: -19.75px;
    }
    .copyright-notice {
        background-color: rgba(0, 0, 0, .5);
        color: white;
        padding: 2px 5px;
        float: right;
        p {
            margin: 0;
            font-size: .7rem;
        }

        /* Only display on medium and larger displays. */
        display: inline-block;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    footer {
        /* Also add horizontal padding in footer. */
        > .container-fluid {
            padding-left: $outerpadding;
            padding-right: $outerpadding;
            @include media-breakpoint-down(md) {
                padding-left: $outerpaddingtouch;
                padding-right: $outerpaddingtouch;
            }
            max-width: $maxcontentwidth;
        }
    }

    .frontpagebackgroundimage {
        /* Add background image. */
        background-size: cover;
        background-position: center;
        background-repeat: repeat-x;
        /* Use different size images for different size displays. */
        @media (min-width: map-get($grid-breakpoints, lg)) and (max-width: 1280px) {
            background-image: url($frontpagebackgroundimage-1280w);
        }
        @media (min-width: 1281px) and (max-width: 1920px) {
            background-image: url($frontpagebackgroundimage-1920w);
        }
        @media (min-width: 1921px) and (max-width: 2560px) {
            background-image: url($frontpagebackgroundimage-2560w);
        }
        @media (min-width: 2561px) {
            background-image: url($frontpagebackgroundimage-4096w);
        }

        /* Make sure page covers the whole browser window on tall screens.
         * Remove height of header and initially visible part of footer. */
        min-height: calc(100vh - 40px - 35px);
        height: calc(100% - 40px);

        /* Make sure background image doesn't underlap header bar. */
        margin-top: 40px;
        #page {
            margin-top: 0;
        }
    }
}
