.navbar div[data-region='drawer-toggle'] .btn, .navbar div[data-region='drawer-toggle'] #page-grade-grading-manage .actions .action, #page-grade-grading-manage .actions .navbar div[data-region='drawer-toggle'] .action, .navbar div[data-region='drawer-toggle'] #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .navbar div[data-region='drawer-toggle'] input, .navbar div[data-region='drawer-toggle'] #rubric-rubric.gradingform_rubric .addcriterion, #rubric-rubric.gradingform_rubric .navbar div[data-region='drawer-toggle'] .addcriterion {
	background-color: #373a3c;
}
.navbar.fixed-top {
	background-color:  #373a3c;
}
