.navbar-brand.has-logo {
	.view-switch {
		float:right;
	}
}
.col-3.align-self-end.view-switch.hidden-sm-down {
	text-align: right;
	padding-right: 40px;
}
#region-main .info .card.card-info {
    padding: 1.75rem;
	margin-top: .75rem;;
}
.card.card-body {
	padding: 1.75rem !important;
}
#page-theme-boost_campus_rwth-login header .view-switch {padding: 7px;padding-right: 20px;}
#page-theme-boost_campus_rwth-login {
	& div.info.no-gutter.col-centered {
		margin-top: 10px;
		padding: 15px;
		box-sizing: border-box;
		.card.car-info {
			padding: 15px;
			box-sizing: content-box;
		}
	}
	.btn {
		border-radius: 5px;
	}
	.allowGuest {
		margin: 15px 0px;
	}
	.row.card {
		margin-top: 5px;
	}
    .col-centered {
        float: none;
        margin: 0 auto;
    }

    .form-item {
        padding: 5px 0;
    }

    label {
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 110%;
    }
	#page-content.row {
		flex-basis: 100%;
	}
    #page-content .card {
        background-color: #f4f4f4;
    }

    #page-content .card.card-info {
        background-color: #C7DDF2;
        border: 1px solid #C7DDF2;
    }

    .btn {
        font-weight: bold;
    }

    .btn-secondary {
        background-color: #CFD1D2
        // TODO Button needs a new hover color
    }

    .forgetpass {
        text-align: center;
    }
	// div[role='main'] {
	// 	display: flex;
	// }

	.row.justify-content-center {
	    flex-flow: wrap;
	    flex-basis: 100%;
	}
}
