
#page-theme-boost_campus_rwth-login {
    min-height: 630px;
    background-color: white;

    div.container {
        div.card {
            border: none;
        }
        div.row.card {
            .btn {
                width: 100%;
            }
            .card-info {
                margin-top: 1rem;
            }
        }
    }

    #page-footer {
        padding-top: 10px !important;
    }
    #page-wrapper::after {
        display: none;
    }
    .row.justify-content-center {
        .col-12.card {
            .card-body {
                padding: 0;
            }
        }
    }

    #page-wrapper {
        height: auto;

        #page {
            margin-top: 0;
            padding-top: 40px;
            min-height: calc(100vh - 98px); /* 40px of header, 23px of copyright notice and max visible 35px of footer */
            margin-bottom: 0;

            #page-content {
                .card {
                    background-color: rgb(247, 247, 247);

                    .card-block {
                        padding: 1.75rem;
                    }
                    button[type=button] {
                        border: none;
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
                .card-info .card-block a:first-of-type > .icon {
                    margin-left: 0;
                }
                .card-block {
                    button[type=button] {
                        width: 100%;
                    }
                }
                .container .row.card .card-block.col-12 {
                    padding: 0;
                }
            }
        }
    }
    .copyright-notice-wrapper {
        height: 23px;
        position: relative;

        .copyright-notice {
            display: none;
            background-color: #000;
            color: #fff;
            padding: 2px 5px;
            position: absolute;
            right: 0;
            height: 100%;

            p {
                margin: 0;
                font-size: smaller;
            }

            @media only screen and (min-width: 768px) {
                display: inline-block;
            }
        }
    }

    .wrap-text {
        white-space: normal;
    }

    header {
        height: 40px;

        &.navbar {
            .navbar-brand {
                padding-left: 90px;
                padding-top: 0;
                @media only screen and (max-width: 768px) {
                    padding-left: 20px;
                }
            }
        }
        &.navbar-light {
            border-bottom: none;

            span.logo img {
                margin-top: -3px;
            }
            a.switch-link {
                text-align: right;
                padding-right: 50px;
            }
        }

        a.view-switch {
            color: white;
            text-align: right;
            padding-right: 60px;
        }

        @media (min-width: 768px) {
            .logo > img {
                max-height: 80px;
            }
            .hidden-md-up {
                display: none !important;
            }
        }
    }

    .btn-secondary,
    .btn-default {
        background-color: #e1e1e1;

        &:hover,
        &:active,
        &:focus {
            background-color: #00549f;
        }
    }

    p.allowGuest {
        margin-left: 15px;
        text-align: center;
    }

    .card.hidden-md-up {
        margin-top: .75rem;
    }

    @media only screen and (max-width: 768px) {
        .hidden-md-down {
            display: none !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .hidden-md-up {
            display: none !important;
        }
    }
}

/* 
 * Since theme/boost_campus v3.6-r5 (or r4) boost_campus wants to apply the
 * background image to the #page element instead of the body. We revert that
 * with the following rules.
 */
body.loginbackgroundimage {
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

@include media-breakpoint-up(md) {
    @if variable-exists(loginbackgroundimage1) {
        body.loginbackgroundimage1 #page {
            background-image: none !important;
        }
        body.loginbackgroundimage1 {
            background-image: url($loginbackgroundimage1);
        }
    }
}
