
// Styling for the completion checkbox to match the format-tiles checkbox. Applied to formats: topics, onetopic, weeks
.format-topics,
.format-onetopic,
.format-weeks {
    .completion-icon {
        width: 25px;
        height: 25px;
        opacity: 0.7;
        background-image: url([[pix:theme_boost_campus_rwth|completion-n]]);
        font-size: 1.3em;
        display: block;
        background-size: contain;
    }
    .completion-icon.completion-icon-y {
        background-image: url([[pix:theme_boost_campus_rwth|completion-y]]);
    }
    li.activity .completion-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .completion-icon.completion-icon-fail {
        background-image: url([[pix:theme_boost_campus_rwth|completion-fail]]);
    }
    .subtiles .completioncheckbox {
        padding: 3px;
        display: inline-block;
    }

    &.editing .subtiles .completioncheckbox {
        position: absolute;
        right: 1px;
        top: 8px;
    }
    .nosubtiles .completioncheckbox {
        .btn:hover,
        .btn:active {
            /* Adaptable */
            /* stylelint-disable-next-line declaration-no-important */
            background-color: inherit !important;
        }
    }
    .subtiles .completioncheckbox.completion-auto .completion-icon {
        margin-top: 2px;
    }
    li.activity button[data-action="toggle-manual-completion"]:hover {
        border: 3px solid orange;
        border-radius: 50%;
        transition: border 300ms ease-in-out;
    }
    button.completioncheckbox,
    .completioncheckbox {
        border: 3px solid transparent;
        border-radius: 50%;
        transition: border 300ms ease-in-out;
        background-color: transparent;
        height: 30px;
        width: 30px;
        padding-left: 4px;
        position: relative;
    }
    .completioncheckbox:focus {
        outline: none;
    }
    .embed-module-buttons {
        button.completioncheckbox,
        .completioncheckbox {
            height: 30px;
            width: 30px;
            padding-left: 0;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 35px;
        }
    }
    .completioncheckbox.completion-auto {
        opacity: 0.6;
        height: 30px;
    }

    &:not(.editing) {
        .course-content [data-region="completion-info"] button {
            @media (min-width: 770px) {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .section .activity {
            .contentwithoutlink,
            .activityinstance {
                @media (min-width: 770px) {
                    padding-right: 200px;
                }
            }
        }
    }
}