.message-app {
    img {
        display: none;
    }

    /* Show group images, leaving only user profile images hidden. */
    [data-region="view-overview-group-messages"],
    [data-action="view-group-info"] {
        img {
            display: initial;
        }
    }

    .alert {
        margin-bottom: 0;
    }
}