@media screen and (max-width:768px) {
    // ADMIN SEARCH
    .container {
        padding: 0;
    }
    // LIST UNSTYLED 
    .list-unstyled {
        margin-bottom: 0rem;
        li {
            padding-bottom: 0.5rem;
        }
        li:last-child {
            padding-bottom: 0;
        }
    }
    // CALENDAR 
    .maincalendar {
        .calendarwrapper {
            .custom-select#menucourse {
                width: 100%;
            }
        }
    } 
    #back-to-top.fa.fa-chevron-up.fa-2x {
        right: 1em !important;
    }
    #page-header div.singlebutton button[id^="single_button"] {
        right: 1em !important;
        .sectionname {
            font-size: 14px;
            padding-left: 0;
        }
    }
    .yt-link-wrapper > a {
        font-size: 80% !important;
    }
    #page-course-view-topics,
    #page-my-index {
        #page-wrapper {
            #page.container-fluid {
                #page-header {
                    .page-header-headings {
                        h1 {
                            font-size: 2rem;
                        }
                    }
                }
                #page-content {
                    li[id^="section-"] {
                        padding-top: 1.5rem;
                        padding-bottom: 0.5rem;
                    }
                    #region-main-box.col-12 {
                        padding: 0;
                    }
                    // COURSE CONTENT SECTION
                    .course-content {
                        .topics,
                        .weeks,
                        .periods {
                            .section {
                                .activity {
                                    span.editing_move {
                                        right: calc(100% + 5px);
                                        top: 5px;
                                    }
                                }
                            }
                            h3.sectionname {
                                padding-left: 0;
                            }
                            .content {
                                .section.img-text,
                                .section {
                                    margin-left: 0;
                                    margin-right: 0;
                                    padding-left: 0;
                                    padding-right: 0;
                                    .mod-indent-outer,
                                    .mod-indent,
                                    .contentwithoutlink,
                                    .no-overflow {
                                        padding-top:0;
                                        padding-left: 0;
                                        padding-right: 0;
                                        margin-left: 0;
                                        margin-right:0;
                                    }
                                    .actions {
                                        .action-menu-item,
                                        .autocompletion,
                                        .filler {
                                            display: none;
                                        }
                                        .dropdown-toggle {
                                            padding-right: calc(6px - .2em);
                                        }
                                    }
                                    &li[id^="section-"] {
                                        padding-right: 10px;
                                        .side.left {
                                            position: absolute;
                                            left: 20px;
                                        }
                                        .editing_move  {
                                            left: -10px;
                                            position: relative;
                                            top: 30px;
                                            left: 6px
                                        }
                                    }
                                }
                                .togglecompletion {
                                    .btn.btn-link{
                                        margin-left: 0.75em;
                                        img {
                                            width: 16px;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                        /*Change indent size for course sites on mobile deivces*/

                        $mod-indent-size: 10px;
                        /* Creates a series of .mod-indent-# rule declarations based on indent size and number of indent levels. */

                        @for $i from 1 through 16 {
                            $width: ($i * $mod-indent-size);

                            .mod-indent-#{$i} {
                                width: $width;
                            }
                        }

                        .mod-indent-huge {
                            width: (16 * $mod-indent-size);
                        }
                        /* Remove slight indentation for headers in mobile views*/
                        li[id^="section-"] .left {
                            width: 30px;
                        }
                        .left.side {
                            width: 0px;	
                        }
                    }
                    // DASHOBOARD ASIDE BLOCK
                    aside#block-region-content {
                        div[id^="coc-"],
                        div[class^="coc-"] {
                            padding-left:0;
                            padding-right: 0;
                            h3 {
                                padding: 0;
                            }
                        }
                        
                        div#coc-courselist {
                            div.coursebox.box {
                                h3 {
                                    padding: 0px;
                                }
                            }
                        }
                    }
                }
            }
            /** Participants Reduce padding for entries */
            .path-course-view .userlist table.participants td {
                padding: 2px;
            }
        }
    }
    // Make edit buttons on labels in edit mode visible.
    .editing {
        .section {
            .activity {
                .contentwithoutlink,
                .activityinstance {
                    padding-left: 1.5rem !important;
                    padding-right: 2.5rem !important;
                }
                .actions {
                    padding-top: 0.15rem;
                }
            }
        }
    }
    .section {
        .activity {
            .no-overflow {
                overflow: auto;
            }
        }
    }
    div#region-main-box {
        padding: 0 0 0 0 !important;
    }
    // USER PREFERENCES 
    body#page-user-preferences {
        #page {
            #page-content {
                #region-main-box {
                    #region-main {
                        .row {
                            .card-body {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    // Make "Bearbeiten" on course main page visible.
    .lang-de.editing {
        .section {
            .activity {
                .contentwithoutlink,
                .activityinstance {
                    padding-right: 5rem !important;
                }
            }
        }
    }
}
