
/* Copied from bs4alphacompat.scss that got removed with MDL-67735. */
$gray-light: $gray-600;
$tag-default-bg: $gray-light !default;

/* Copied from bs2-compat.scss that got removed with MDL-67735. */
.label {
    display: inline-block;
    padding: $badge-padding-y $badge-padding-x;
    @include font-size($badge-font-size);
    font-weight: $badge-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($badge-border-radius);
    @include transition($badge-transition);
    @include badge-variant($tag-default-bg);
}
