/* .path-mod-attendance div.box.py-3.generalbox.boxaligncenter div.attendancereporttable {
    margin-left: 0px;
} */

/* .path-mod-attendance div.box.py-3.generalbox.boxaligncenter div.attendancereporttable table.attwidth th.header.bottom.left.nowrap.headcol.cell.c0 {
    position: static;
} */

#page-mod-attendance-report .attendancereporttable {
    margin-left: 0px;
}

/* #page-mod-attendance-report .attendancereporttable .headcol {
    position: static;
} */

/* Make table non-transparent, so that overflow-x looks better. */
#page-mod-attendance-manage .generaltable tbody tr:nth-of-type(odd),
#page-mod-attendance-report .generaltable tbody tr:nth-of-type(odd),
#page-mod-attendance-preferences .generaltable tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}

#page-mod-attendance-manage .generaltable tbody tr:nth-of-type(even),
#page-mod-attendance-report .generaltable tbody tr:nth-of-type(even),
#page-mod-attendance-preferences .generaltable tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

/* Adjust sticky position to our navbar. */
#page-mod-attendance-manage th,
#page-mod-attendance-report th,
#page-mod-attendance-preferences th,
#page-mod-attendance-view th {
    top: 40px;
    z-index: 1050;
}
