/*define global colors*/
:root {
    --blue: #00549F !important;
    --indigo: #7A6FAC !important;
    --purple: #612158 !important;
    --pink: #E30066 !important;
    --red: #CC071E !important;
    --orange: #ffcc00 !important;
    --yellow: #FFED00 !important;
    --green: #57AB27 !important;
    --teal: #0098A1 !important;
    --cyan: #407FB7 !important;
    --white: #fff !important;
    --gray: #9C9E9F !important;
    --gray-dark: #646567 !important;
    --primary: #00549f !important;
    --primary: #00549f !important;
    --secondary: #e1e1e1 !important;
    --secondary: #e1e1e1 !important;
    --success: #8DC060 !important;
    --success: #8DC060 !important;
    --info: #C7DDF2 !important;
    --info: #C7DDF2 !important;
    --warning: #fff059 !important;
    --warning: #fff059 !important;
    --danger: #cc071e !important;
    --danger: #cc071e !important;
    --light: #f7f7f7 !important;
    --light: #f7f7f7 !important;
    --dark: #000 !important;
    --dark: #000 !important;
}



.hidden-sm-up {display: none !important;}

/*Header*/

/*Set global/root font-size for rem values*/
    html{font-size: 15px;}

/*Content area*/
    /*change background-color and system font-family*/
    body{ background-color:#f4f4f4; font-family: Arial, Helvetica, sans-serif;}

/*Header*/


    /*create thinner navbar*/
        /*set distance of content and menu element to top of page*/
        #page{margin-top: 40px;}
        [data-region="drawer"]{top: 39px; padding-top: 32px; height: calc(100% - 39px);}
        /*set height and padding of navbar*/
        .navbar{height: 40px;}
        .navbar{padding: .2rem .5rem;} /*to align elements correctly on the sides*/

    /*navbar-buttons hover effect*/
    .navbar .navbar-nav .nav-link .icon:hover, .navbar .usertext:hover, .navbar .site-name:hover, .usermenu .login a:hover, .usermenu .login a:focus{ color: #9C9E9F;}
    .navbar .dropdown-toggle:focus, .navbar .dropdown-toggle:hover, .navbar .show > .dropdown-toggle{color: #9c9e9f !important;}

    /*background-color navbar*/
    .navbar{background-color: #000000 !important;}

    /*move language-button in header to the right*/
    .navbar .navbar-nav{margin-left: auto !important;}
    @media (min-width:768px){
      .navbar .navbar-nav ~ .navbar-nav{margin-left: 0 !important;}
    }


    /*change color of notification counter*/
    .navbar-nav .count-container{background-color: #FFCC00; color: #000;}

    /*change hamburgermenu style - hover, radius a.s.o.*/
    .navbar div[data-region='drawer-toggle'] .btn{background-color: #000 !important; color: #fff; border: 0; margin-right: 0px; margin-top: 0px; border-radius: 0; padding-top: 12px;}
    .navbar div[data-region='drawer-toggle'] .btn:not(:disabled):not(.disabled):active, .navbar div[data-region='drawer-toggle'] .btn:hover, .navbar div[data-region='drawer-toggle'] .btn:focus{background-color: #404040 !important; color: #fff !important; border: 0; padding-top:
    12px;}
	.navbar div[data-region='drawer-toggle'] .btn-secondary:not(:disabled):not(.disabled):active:nth-child(odd){ right: 200px;}

    /*style logo*/
    .navbar .navbar-brand.has-logo{max-height: 60px;}
    nav.navbar .logo img{max-height: 60px; margin-top: 6px;}
    .navbar .site-name{ vertical-align: text-bottom; margin-left: 10px; bottom: 3px;position: relative;}

    /*style default profileimage*/
    .navbar img.userpicture.defaultuserpic{margin-left: 0; margin-right: 0; width: 30px; height: 30px;margin-top: 2px;}

    /*position course logo*/
    .course-logo {
        float: left;
        margin-right: 1rem;
    }

    /*align menu item vertically in the middle*/
    .navbar-nav .nav-item{margin-top:2px;}

    /*remove icons in Username dropdown*/
    .navbar .usermenu .dropdown-menu a.dropdown-item i.icon{display: none;}

    /*remove icons in front of menu item*/
    #nav-drawer nav.list-group a.list-group-item div.media span.media-left{display:none;}

    /*add space before menu child-items*/
    #nav-drawer {
        .list-group-item[data-key^="localboostnavigationactivity"],
        .list-group-item[data-parent-key^="localboostnavigationcustom"],
        .list-group-item[data-parent-key="mycourses"],
        .list-group-item[href*="#section-"],
        .list-group-item[href*="&section="] {
            padding-left: 2rem;
        }
    }
    #nav-drawer .list-group-item[data-level="1"] {
        padding-left: 3rem;
    }

    /*remove border around navbar when clicked*/
    div#nav-drawer:focus {
        outline: none;
    }

     /*Fix for startpage?*/
     // @media (min-width:768px){
     // .navbar .usermenu .login{line-height: 1.7rem;}
     // }
	/*truncate titles that are to long*/


/*Menu*/
    /*style menu*/

        /*add border to right side of menu section*/
        #nav-drawer{ border-right: 1px solid #dde;}

        /*removes gap between "private files" and "my course" menu item*/
        #nav-drawer .list-group-item[data-key="mycourses"]{margin-top: 0px;}

        /*change border to dotted */
        #nav-drawer .list-group-item{ border: 1px dotted #ccc; border-left: 0; border-right: 0;}

        /*eliminate double borders between elements */
        #nav-drawer .list-group-item + .list-group-item { border-top: none; }

        /*style active menu item*/
        #nav-drawer .list-group-item[data-isactive="1"]{background-color: #00549F !important; color: #fff; border-color: transparent;}

        /*style hover effect*/
        #nav-drawer .list-group-item-action:focus, #nav-drawer .list-group-item-action:hover, #nav-drawer .list-group-item:focus, #nav-drawer .list-group-item:hover{ background-color: #00549F !important; color: #fff; border-color: transparent;}

    /*change word separation*/
    #nav-drawer .list-group-item[data-parent-key|=mycourses], #nav-drawer .list-group-item[data-key|="coursehome"]{
    -webkit-hyphens: auto;      -moz-hyphens: auto;       -ms-hyphens: auto;           hyphens: auto;
    }
    @supports not (hyphens: auto) {
        #nav-drawer .list-group-item[data-parent-key|=mycourses], #nav-drawer .list-group-item[data-key|="coursehome"]{
            -webkit-hyphens: none;      -moz-hyphens: none;       -ms-hyphens: none;           hyphens: none;
        }
    }
    /*Fix Bell Icon's ::after-pseudo-element cuts into the settings gear-icon */
    #nav-notification-popover-container .popover-region-toggle.nav-link:after {
        border-bottom: 0;
    }
	/*Breadcrumb navigation*/
	li.breadcrumb-item > a {white-space: nowrap;width: auto;max-width: 200px;height: 22.5px;line-height: 22.5px;display:inline-block;}
	li.breadcrumb-item > a::before {vertical-align: top;line-height: 22.5px;height: 22.5px;}
	

/*Blocks*/
    /*make "add_block" block inside the side menu light blue*/
    aside#block-region-side-pre section.block_adminblock {background-color: #C7DDF2;}

    /* Reduce padding at the bottom of HTML blocks to make up for the
     * fact that the last <p> (or similar) element has a 1rem bottom
     * margin. */
    .block_html > .card-body.p-3 {
        padding-bottom: 0!important;
    }


/*Footer*/
    /*reduce distance to top border*/
    #page-footer{padding-top: 10px !important;}

    /*change style*/
    /*style link, background and borders*/
    #page-footer .block-region .block{background-color:#333; color: #ccc; border: 0;}
    #page-footer .block a{background-color: #333; border:0;  color: #ccc; text-decoration: none;}
    #page-footer .block .icon{background-color: #333; color: #fff;}
    #page-footer .block a:focus .icon{color: #fff;}
    #page-footer a:hover{text-decoration: underline;}
    #page-footer a:focus{color: #ccc !important; text-decoration: underline; box-shadow: none;}
    #page-footer a:active{color: #ccc !important; text-decoration: none;}
    #page-footer a.link-list{border-top: 1px dotted #ededed; border-bottom: 1px dotted #ededed;}
    #page-footer a.link-list + a.link-list{border-top: none;}
    #page-footer.bg-dark {background-color: #333 !important;}
    /*remove default mailicon*/
    #page-footer a[href^='mailto']::before{ content:''; }
    /*Hide default link to appstore article on moodle page*/
    #page-footer .container-fluid:nth-child(2){display:none;}
    /*aligns appstore images at the heading*/
    #page-footer .atto_image_button_text-bottom{ margin-left: 0;}
    
    #page-footer .dropdown-item:hover,
    #page-footer .dropdown-item:hover .icon {
        background-color: #222;
    }
    #page-footer .dropdown-item:active,
    #page-footer .dropdown-item:active .icon {
        color: #fff !important; background-color: #00549f; text-decoration: none;
    }

/*Courselist*/
.courses .coursebox:hover{ background-color:#E8F1FA;}

/*Course*/
    /*change appearance of activities in list view*/
    div.activityinstance a img.iconlarge.activityicon {
        vertical-align: middle;
    }

/*Kalender*/
    /*change category colors*/
    .calendar_event_site{background-color: #d9e183 !important;}
    .calendar_event_category{background-color: #6e9dd4 !important;}
    .calendar_event_course{background-color: #ef86a3 !important;}
    .calendar_event_group{background-color: #fcca78 !important;}
    .calendar_event_user{background-color: #c3d9f2 !important;}

        /*change color of icon and links to black for enough contrast*/
        .calendar_event_site,
        .calendar_event_group,
        .calendar_event_user,
        .calendar_event_category,
        .calendar_event_course {
            a,
            i.icon {
                color: #000 !important;
            }
        }
        /*style today element in month view*/
        div[id*='calendar'] .today,
        .path-my .today {
            background-color: #00549F;
            color: #fff;

            img {
                filter: saturate(0%) brightness(400%);
            }

            a,
            a:focus,
            a:active {
                color: #fff;

                i.icon {
                    color: #fff;
                }
            }
        }

    /*add space between course dropdown and "new event" button on smaller screens*/
    .maincalendar #menucourse{margin-bottom: 10px;}
    .maincalendar button[data-action="new-event-button"]{margin-top:0px;}

    /*vertical aligns categoryicons for calender entries*/
    .maincalendar .calendarmonth ul li .icon {vertical-align: middle !important;}

    /*don't know what exactly it does*/
    .maincalendar .heightcontainer .icon {vertical-align: baseline;}

/*Feedback*/
    /*change default alert box colors*/
    .alert-success{background-color: #8DC060; border-color: #8DC060; color: #000;}
    .alert-danger{background-color: #cc071e; border-color: #cc071e; color: #fff;}
    .alert-warning{background-color: #fff059; border-color: #fff059; color: #000;}
    .alert-info{background-color: #C7DDF2; border-color: #C7DDF2; color: #000;}

    /*change border radius of alert box always to 0*/
    .alert{border-radius: 0px;}

/*Tabs*/
    /*change style of inactive tabs*/
    .nav-tabs .nav-link{background-color: #fff; margin-top: 5px; border-radius: 0; color: #000; border: 0; border-bottom: 1px solid #ddd;}
    /*change style of active tabs*/
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link:hover{color: #fff; background-color: #00549F; border-color: #00549F; border-radius: 0;}
    /*change style of hover effect*/
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{ background-color: #e1e1e1; margin-right: 3px}

    /*Tabs Course Settings (settings section in course rooms)*/
    /*change style of active tab*/
    #boost-campus-course-settings .nav-tabs .active, #boost-campus-course-settings .nav-tabs .nav-link.active, #boost-campus-activity-settings .nav-tabs .active, #boost-campus-activity-settings .nav-link.active{background-color: #00549F; color: #fff; }


/*Tabellen*/
    /*style table header and links within the header*/
    .userlist table.participants th,
    .table thead th,
    table.collection thead th,
    table.flexible thead th,
    .generaltable thead th,
    .path-grade-report .gradeparent tr:first-child th,
    .path-grade-report .gradeparent tr:nth-child(2) th,
    table.forumheaderlist thead tr,
    .questionbankwindow thead th {
        background-color: #595959 !important;
        color: #fff;
        border-color: #444;
    }

    thead a {
        color: #fff;
    }
    // fix table selector bind to dark table header 
    thead a[href~='mailto:'] {
        color: #00549f !important;
    }
    .userlist table.participants th a,
    .userlist table.participants th a .icon,
    .table thead th a .icon,
    table.collection thead th a .icon,
    table.flexible thead th a .icon,
    .generaltable thead th a .icon,
    .path-grade-report .gradeparent tr:nth-child(2) th a,
    .path-grade-report .gradeparent tr:nth-child(2) th a .icon,
    .path-grade-report .gradeparent tr:first-child th a,
    .path-grade-report .gradeparent tr:first-child th a .icon,
    .questionbankwindow thead a,
    .questionbankwindow thead a .icon,
    div.floater.heading img.icon, // grader table floating header
    .completion-header img.icon { // activity completion header
        color: #fff !important;
        filter: saturate(0%) brightness(400%);
    }
    /*Set consistend behaviour for all list elements paddings*/
    body ol {padding-inline-start: 30px;}
    body ol li {padding-left:5px;}
    
    /*set consistent table header padding*/
    .table th, table.collection th, table.flexible th, .generaltable th, .table td, table.collection td, table.flexible td, .generaltable td, .path-mod-forum .forumheaderlist thead .header, .path-mod-forum .forumheaderlist tbody .discussion td, .path-course-view .userlist table.participants th, .path-grade-report-grader .gradeparent .cell{padding: .5rem .75rem;}

    /*style header of floating table elements (= while/after scrolling visible table column, row)*/
    .path-grade-report-grader .gradeparent .floating {div.header, div.highlightable { a, i.icon{ color: #fff;}}}
    .path-grade-report-grader .gradeparent .floating {div.header, div.highlightable, .cell.odd {background-color: #595959; color: #fff;}}

    /*set hover effect*/
    .table-hover tbody tr:hover, table.gradereport-grader-table tbody tr:hover td, table.gradereport-grader-table tbody tr:hover th, .path-grade-report-grader .gradeparent tbody tr:hover td, table.gradereport-grader-table tbody tr:hover th, .forumheaderlist tbody tr:hover, .generaltable tbody tr:hover, table.flexible tbody tr:hover, .category_subcategories tbody tr:hover, table#modules tbody tr:hover, table#permissions tbody tr:hover{background-color: #E8F1FA !important;}

    /*remove top and bottom border in head for single row headers*/
    .table thead th, table.collection thead th, table.flexible thead th, .generaltable thead th{border-bottom: 0;border-top: 0;}

    /* Fix header text color for tables with light background. */
    .path-admin-tool-capability .comparisontable thead th a,
    .path-mod-organizer #print_preview thead a {
        color: #000;
    }

    /*change color of cell with overridden values (non hover and hover)*/
    .path-grade-report-grader .gradeparent tr:nth-child(n) td.overridden:nth-child(n), .path-grade-report-grader .gradeparent tr:nth-child(n):hover td.overridden:nth-child(n){background-color: #fff059 !important;}


/*page-header*/
    /*Hide border of content header area*/
    #page-header .card{background-color:transparent; border: 0px;}

/*Buttons*/
    /*style global buttons (in different states) */
    .btn{border-radius: 5px;}
    .btn:focus {
        outline: none;
    }
    .btn-secondary, .btn-default{
        color: #000; background-color: #e1e1e1; border-color: #e1e1e1;
        &:hover, &:active, &:focus{
            color: #fff !important; background-color: #00549F !important; border-color: #00549F !important;}
        &:active:hover, &.active:focus{
                color: #fff !important;background-color: #00549F !important; border-color: #00549F !important;
        }
    }
	/*Floating Edit Button*/
    .btn-primary, a.text-primary{
        color: #fff;background-color: #00549F; border-color: #00549F;
        &:hover, &:active, &:focus{
            color: #000 !important; background-color: #e1e1e1 !important; border-color: #e1e1e1 !important;
        }
        &:active:hover{
            color: #fff !important;background-color: #00549F !important; border-color: #00549F !important;
        }
        &.text-primary{
            color: #fff !important;
        &:hover, &:active, &:focus{
            color: #000 !important;}
        }
    }
    /* Fix floating Button conflicts with Table Headers */
    table.table span.text-primary i.icon {
        color: #fff;
    }
    table.table {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
    }
    table.table thead {
        display: table-row-group;
        width: 100%;
    }
    table tbody {
        display: table-row-group;
        width: 100%;
    }
	#page-header div.singlebutton button[id^="single_button"] {
	    position: fixed;
	    top: 45px;
	    right: 2rem;
	    z-index: 3;
	    background-color: #00549F;
	    border: 0;
	    color: #fff;
	    box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
	}
	button.btn.btn-secondary.float-btn-hide {
		transition: top .25s cubic-bezier(0.45, 1.05, 0.68, 1.01);
		top: -25px !important;
		position: fixed;
	}
	button.btn.btn-secondary.float-btn-show {
		transition: top .25s cubic-bezier(0.45, 1.05, 0.68, 1.01);
		top: 45px !important;
	}
	body.lang-en div.singlebutton button.btn.btn-secondary.float-btn-show-left {
		right: 190px !important;
	}
    body.lang-de div.singlebutton button.btn.btn-secondary.float-btn-show-left {
		right: 220px !important;
	}
	/*changes whitespaces of header better fit in edit button */
	.card-body, .userprofile .profile_tree section{
		padding: 1.6rem 0.9rem;
	}



    /*style global disabled buttons*/
    .btn-primary:disabled, .btn-primary.disabled, .btn-default:disabled, .btn-default.disabled, .btn-secondary:disabled, .btn-secondary.disabled{
        background-color: #e1e1e1; border-color: #e1e1e1; color: #777;
        &:hover, &:focus {
            background-color: #e1e1e1 !important; border-color: #e1e1e1 !important; color: #777 !important;
    }}

    /*change buttons in filemanager*/
    .filemanager .btn-secondary, .filemanager .btn-default{
        &:hover, &:active, &:focus {
            background-color: #00549F !important; color: #fff !important; border-color: #00549F !important;
            i{color: #fff !important;}
        }
    }
	/*changes whitespaces of header better fit in edit button */
    .filemanager a.btn-secondary, .filemanager a.btn-default{
        &.checked, &.active, &.checked:hover, &.checked:active, &.checked:focus {
            background-color: #00549F !important; color: #fff !important; border-color: #00549F !important;
            i{color: #fff !important;}
    }}

    /* Make sure navigation buttons at the bottom of an activity don't overlap. */
    .activity-navigation .btn {
        white-space: normal;
    }

/*letterfilter*/
.initialbar .initialbarall .page-item.active .page-link, .initialbar .page-item .page-link:hover, .initialbar .page-item.active .page-link{background-color: #00549f; color: #fff; border-color: #00549f;}
.initialbar .page-item .page-link, .initialbarall .page-link:hover{background-color: #e1e1e1; color: #000; border-color: #ddd;}

/*Forum*/

.forumpost{background-color: #f4f4f4 !important;}
.unified-grader .navbar{height: auto;}
.grader-grading_navigation{background-color: #f8f9fa!important;} //Moodle 3.9 forum grading header design issue

/*Intro - Box for site introductions*/
#intro{background-color: #C7DDF2; border-color: #C7DDF2; color: #000;}

/*Remove following part as soon as it is added in other scss*/

    /*Hide Userpicture*/
        /*hide userimage or placeholder image in whole system*/
        .userpicture, .defaultuserpic{display:none;}

        /*Show default userpicture on small screens in navbar*/
        @media (max-width:767px){
            .navbar img.userpicture, .navbar img.defaultuserpic{display: inline;}
			body.lang-en #page-header div.singlebutton button.btn.btn-secondary.float-btn-show-left {right: 165px !important;}
            body.lang-de #page-header div.singlebutton button.btn.btn-secondary.float-btn-show-left {right: 195px !important;}
			#page-header div.singlebutton button[id^="single_button"] {right: 6px !important;}
        }

        /*remove space before heading which is result of removing the userimage */
        #page-header .page-header-image{display: none;}

        /*Fix for startpage?*/
        @media (max-width:767px){
            .navbar .usermenu .login{line-height: 2.5rem;}
        }


		/*CSS helper classes*/
	/*line clamping*/
	a.list-group-item:not([data-key=coursehome]) .line-clamp,
	.line-clamp
	{
	    display: block;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    /* position: relative; */
	    /* white-space: nowrap; */
	    line-height: 1.5rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    padding: 0!important;
	}
	// *:not(.breadcrumb-item) .line-clamp:after,
	a.list-group-item:not([data-key=coursehome]) .line-clamp:after
	{
		content    : '...';
		color: rgba(0,0,0,0);
		text-align : right;
		bottom     : 0;
		right      : 0;
		width      : 25%;
		display    : block;
		position   : absolute;
		height: 2.5rem;
		// height     : calc(1em * 1.5);
		max-height: 7.5rem;
		background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);

	}
	// *:not(.breadcrumb-item)  .line-clamp:after,
	a.list-group-item:not([data-key=coursehome]):hover .line-clamp:after
	{
		background: linear-gradient(to right,rgba(0, 84, 159, 0),rgba(0, 84, 159, 1) 75%);
	}
	.active .line-clamp:after,
	a.list-group-item:hover .line-clamp:after,
	a.list-group-item:not([data-key=coursehome]).active .line-clamp:not(.breadcrumb-link)::after {
		background: linear-gradient(to right,rgba(0, 84, 159, 0),rgba(0, 84, 159, 1) 75%);

	}
	@supports (-webkit-line-clamp: 1)
	{
		.line-clamp:after
		{
			display : none !important;
		}
	}
	.line-clamp-1
	{
		-webkit-line-clamp : 1;
		max-height             : calc(1rem * 1.5 * 1);
		max-height             : 1.5rem;
	}
	.line-clamp-2,
	a.list-group-item:not([data-key=coursehome]) .line-clamp-2
	{
		-webkit-line-clamp : 2;
		max-height             : calc(2rem * 1.5 * 2);
		max-height             : 3rem;
		height: auto;
	}
	.line-clamp-3,
	.list-group-item:not(.active) .line-clamp-3
	{
		-webkit-line-clamp : 3;
		max-height             : calc(1rem * 1.5 * 3);
		max-height 			   :  4.5rem;
	}
	.line-clamp-4
	{
		-webkit-line-clamp : 4;
		max-height             : calc(1rem * 1.5 * 4);
		max-height             : 6rem;
	}
	.line-clamp-5
	{
		-webkit-line-clamp : 5;
		max-height             : calc(1rem * 1.5 * 5);
		max-height 			   : 7.5rem;
	}
		.breadcrumb-item + .breadcrumb-item::before {
			vertical-align:top;
		}

/*Hide Userpicture*/
    /*hide userimage or placeholder image in whole system*/
    .userpicture, .defaultuserpic{display:none;}

    /*Show default userpicture on small screens in navbar*/
    @media (max-width:767px){
        .navbar img.userpicture, .navbar img.defaultuserpic{display: inline;}
    }

    /*remove space before heading which is result of removing the userimage */
    #page-header .page-header-image{display: none;}

    /*Fix for startpage?*/
    @media (max-width:767px){
        .navbar .usermenu .login{line-height: 2.5rem;}
    }
	.context-header-settings-menu{
	   /*background-color: #fff;*/
	   padding: 10px 0px 10px 10px;
	   height: 3em;
	}
	#boost-campus-course-settings{
	  margin-top: 0;
	  position: relative;
	  bottom: 8px;
	}
	#page-header > div, #page-header .card-body{
	  padding-bottom:0 !important;
	}
	#page-content #region-main-box{
	  margin-top: 0px;
	}
/*Fix video size in atto */
.editor_atto_wrap .editor_atto video {
     width: 100%;
     position: relative;
}

#id_introeditoreditable {
	position: relative;
	max-width: 100%;
	min-width: 320px;
}
/*IE Bugs*/
    #page-theme-boost_campus_rwth-login #page-content {/*Align loginwindow in the center of page instead of the right side.*/
    flex-direction:column;
    }

    .yui3-skin-sam .yui3-panel .yui3-widget-hd{ /*Fix header backgroundcolor of activity-modal*/
        background-color: #fff;
        color: #000;
    }

/*Restrict Atto content size to surrounding div.*/
.mform .felement[data-fieldtype="editor"] > div {
    width: 100%;
}

/*Except in Atto Editor (the entire editor window is scrollable instead)*/
.editor_atto_content table {
    overflow-x: initial;
    max-width: unset;
}

/*Fix unnecessary horizontal scroll bar e.g. when editing a label (i.e. an instance of mod_label). */
.mform>.form-group.row {
    margin-left: 0;
}

/*Make sure Chat Support and back-to-top buttons don't overlap.*/
#PIT_Labs_SupportChat_Container {
    right: 70px !important;
}

// Remove display error for URL select on Singleview Bewertung
.path-grade-report #maincontent + div.urlselect {
    position: relative;
    left: 0;
}
.path-grade-report-singleview .singleselect select.custom-select.singleselect {
    margin-right: 0;
}

div.path-backup .mform .include_setting {
    width: 100%;
}
.path-backup .mform {
    .grouped_settings {
        clear: both;
        overflow: hidden;

        /* Use card styles but avoid extend because that brings in too much. */
        &.section_level {
            background-color: $card-bg;
            @include border-radius($card-border-radius);
            border: $card-border-width solid $card-border-color;
            @include clearfix;
            padding: $card-spacer-x;
            margin-bottom: $card-spacer-x;
        }
    }

    /* These are long labels with checkboxes on the right. */
    .include_setting {
        width: 50%;
        display: inline-block;
        float: left;
        padding: $table-cell-padding-sm;
    }
    .normal_setting {
        width: 50%;
        display: inline-block;
        float: left;
        padding: $table-cell-padding-sm;
    }
}

/*Notifications adding margins*/
.content-item-container.notification {
    .content-item-body {
        .notification-image {
            margin-right: 10px;
            // Doubled underneath because of bad tamplating
            .notification-message {
                width: calc(100% - 34px);
            }
        } 
        // This sits differently in DOM than in the dropdown menu (bell-icon)
        .notification-message {
            width: calc(100% - 34px);
        }
    } 
    .content-item-footer {
        .timestamp {
            margin-left: 34px;
        }
    }
}
/*Golbal Notifications removing changing black header for some entries*/
.notification-area {
    .content-area {
        .content {
            .navbar {
                background-color: #fff !important;
                border: 1px solid #e3e3e3;            
            }
        }
    }
}

/*Hide "Zum Video" Link below Opencast videos*/
.ocplayer + a[target="_blank"] {
    display: none !important;
}

/* Mobile chnages after 3.6.5 update */
@media (max-width: 768px) {
    /* Adding padding for main wrapper on mobile devices */
    div#page-wrapper {
        padding: 0px 15px;
    }
    /* Adding padding for course overview block */
    section.block_course_overview_campus {
        padding: 0px 15px;
    }
}

body .block_recentlyaccesseditems img.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.path-user #region-main-settings-menu {
    display: inline-block;
}

.generaltable {
    display: block;
}

table.generaltable td.header {
    background-color: #595959;
    color: #fff;
    border-color: #444;
    width: auto !important; 
    float: none !important;
}

.path-backup .mform .include_setting {
    width: 100%;
}

// fix forum table being too small
table.table.discussion-list {
    display: inline-table;
}
table.table.discussion-list th.p-l-0 {
    width: 20%;
}

/* Remove extra spacing on back-to-top button. */
#goto-top-link .icon {
    margin: 0;
}

//Remove spacing at the bottom of text input fields (on the question edit page)

#page-question-type-multichoice #page-wrapper .editor_atto_content.form-control { 
    p:last-child, 
    ul:last-child,
    ol:last-child, 
    h5:last-child,
    h4:last-child,
    pre:last-child {
        margin-bottom: 0;
    }
}

// Styling mainly for Dashboard info banner (in Warning color)
.alert-warning a {
    font-weight: normal;
    color: #00549f;
}

// Add spacing above Dashboard info banner so it's not obstructed by floating button(s).
#themeboostcampusperpinfobanner {
    margin-top: 3rem !important;
}
