/* Override Boost Campus settings. */
$section0title: yes;
$showswitchedroleincourse: yes;
$loginform: no;
$footerhidehelplink: yes;
$footerhidelogininfo: yes;
$footerhidehomelink: yes;
$blockicon: no;
$darknavbar: yes;
$footerblocks: "3columns";
$showsettingsincourse: yes;
$incoursesettingsswitchtorole: yes;
$hidefooteronloginpage: no;
$footerhideusertourslink: yes;
$nawdrawerfullwidth: no;
