{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_campus/footer

    Boost_campus footer layout template.

    Context variables required for this template:
    * footerblock3columns - true if the setting is set to 3 columns footer layout
    * footerleftblocks - Code for the left footer region
    * footermiddleblocks - Code for the middle footer region
    * footerrightblocks - Code for the right footer region
    * bcbttbutton - true if the setting bcbttbutton is enabled.

    Example context (json):
    {
        "footerblock3columns":true,
        "footerleftblocks": "<aside id='block-region-footer-left' class='block-region' data-blockregion='footer-left' data-droptarget='1'>This is the left footer region</aside>",
        "footermiddleblocks": "<aside id='block-region-footer-middle' class='block-region' data-blockregion='footer-middle' data-droptarget='1'>This is the middle footer region</aside>",
        "footerrightblocks": "<aside id='block-region-footer-right' class='block-region' data-blockregion='footer-right' data-droptarget='1'>This is the right footer region</aside>",
        "bcbttbutton": true
    }
}}
{{! MODIFICATION:
    * Add footer blocks.
    * Don't show Boost's core "Go to top" button if Boost Campus' "Back to top" button is enabled.
}}
{{^bcbttbutton}}
<div id="goto-top-link">
    {{! go to top is sticky to footer so needs to be sibling }}
    <a class="btn btn-light" role="button" href="#" aria-label="{{#str}} totop, theme_boost {{/str}}">
        {{#pix}} i/up, core{{/pix}}
    </a>
</div>
{{/bcbttbutton}}
<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div id="course-footer" class="col-12">
                {{{ output.course_footer }}}
            </div>

            {{! If admin setting is set to one footer column. }}
            {{#footerblock1columns }}
                {{! Add blocks to the first footer column.}}
                <section data-region="footer-left" class="d-print-none col-12">
                    {{{ footerleftblocks }}}
                </section>
            {{/footerblock1columns }}

            {{! If admin setting is set to two footer columns. }}
            {{#footerblock2columns }}
                {{! The layout is 2 columns on large screens. For medium and small screens it is better to display just 1 column.}}
                {{! Add blocks to the first footer column.}}
                <section data-region="footer-left" class="d-print-none col-12 col-lg-6">
                    {{{ footerleftblocks }}}
                </section>

                {{! Add blocks to the third footer column.}}
                <section data-region="footer-right" class="d-print-none col-12 col-lg-6">
                    {{{ footerrightblocks }}}
                </section>
            {{/footerblock2columns }}

            {{! If admin setting is set to three footer columns. }}
            {{#footerblock3columns }}
                {{! The layout is 3 columns on large screens. For medium and small screens it is better to display just 1 column.}}
                {{! Add blocks to the first footer column.}}
                <section data-region="footer-left" class="d-print-none col-12 col-lg-4">
                    {{{ footerleftblocks }}}
                </section>

                {{! Add blocks to the second footer column.}}
                <section data-region="footer-middle" class="d-print-none col-12 col-lg-4">
                    {{{ footermiddleblocks }}}
                </section>

                {{! Add blocks to the third footer column.}}
                <section data-region="footer-right" class="d-print-none col-12 col-lg-4">
                    {{{ footerrightblocks }}}
                </section>
            {{/footerblock3columns }}

            {{! If admin setting is set to four footer columns. }}
            {{#footerblock4columns }}
                {{! The layout is 4 columns on large screens. For medium and small screens it is better to display just 1 column.}}
                {{! Add blocks to the first footer column.}}
                <section data-region="footer-left" class="d-print-none col-12 col-lg-3">
                    {{{ footerleftblocks }}}
                </section>

                {{! Add blocks to the second footer column.}}
                <section data-region="footer-middle" class="d-print-none col-12 col-lg-3">
                    {{{ footermiddleblocks }}}
                </section>

                {{! Add blocks to the third footer column.}}
                <section data-region="footer-right" class="d-print-none col-12 col-lg-3">
                    {{{ footerrightblocks }}}
                </section>

                {{! Add blocks to the fourth footer column.}}
                <section data-region="footer-badge" class="d-print-none col-12 col-lg-3">
                    {{{ footerbadgeblocks }}}
                </section>
            {{/footerblock4columns }}

        </div>
    </div>

    {{! Add standard Moodle footer behind the blocks area. }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {{# output.page_doc_link }}
                    <p class="helplink">{{{ output.page_doc_link }}}</p>
                {{/ output.page_doc_link }}

                {{{ output.login_info }}}
                <div class="tool_usertours-resettourcontainer"></div>
                {{{ output.home_link }}}
                <nav class="nav navbar-nav d-md-none" aria-label="{{#str}}custommenu, admin{{/str}}">
                    {{# output.custom_menu_flat }}
                        <ul class="list-unstyled pt-3">
                            {{> theme_boost/custom_menu_footer }}
                        </ul>
                    {{/ output.custom_menu_flat }}
                </nav>
                {{{ output.standard_footer_html }}}
                {{{ output.standard_end_of_body_html }}}
            </div>
        </div>
    </div>
</footer>

