{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/frontpage_social_discussion_list

    Template which defines a forum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
{{< mod_forum/social_discussion_list }}
    {{$discussion_create_text}}
        {{#str}}addanewtopic, forum{{/str}}
    {{/discussion_create_text}}
    {{$discussion_top_pagination}}{{/discussion_top_pagination}}
    {{$discussion_bottom_pagination}}
        {{#hasmore}}
            {{! CHANGE BEGIN remove "..." at the end }}
            <a href="{{{forum.urls.view}}}">{{#str}}oldertopics, mod_forum{{/str}}</a>
            {{! CHANGE END }}
        {{/hasmore}}
    {{/discussion_bottom_pagination}}
{{/ mod_forum/social_discussion_list }}
