{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_boost_campus_rwth/login_header}}

    <div id="page" class="container-fluid">
        {{! <div id="page-content" class="row justify-content-center"> }}
        <div id="page-content" class="row">
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-centered no-gutter align-self-center">

			<!-- </div> -->
            <!-- <div class="col-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 no-gutter  col-centered align-self-center" id="region-main-box"> -->
                <section id="region-main" class="">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
    {{{ pagebottomelements }}}
</div>
{{! Moved the variable here from footer.mustache to solve Javascript issues with behat tests. }}
{{{ output.standard_end_of_body_html }}}



</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
