{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_campus/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.
    * logintoken - Random token to protect login request.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring"
    }
}}
{{! MODIFICATION:
    * Changed col- definitions for login form container
}}

<div class="no-gutter  col-centered align-self-center">
<div class="card">
    <div class="card-block">
        <div class="card-title">
            {{#logourl}}
                <h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
            {{/logourl}}
            {{^logourl}}
                <h2>{{sitename}}</h2>
            {{/logourl}}
        </div>

        <!-- {{#cansignup}}
            <div class="sr-only">
                <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
            </div>
        {{/cansignup}} -->

        {{#error}}
            <div class="loginerrors m-t-1">
                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                <div class="alert alert-danger" role="alert">{{error}}</div>
            </div>
        {{/error}}


		<form action="{{loginurl}}" method="post" id="login" {{^passwordautocomplete}}autocomplete="off"{{/passwordautocomplete}}>
        <!-- <form class="m-a-1" action="{{loginurl}}" method="post" id="login" {{^passwordautocomplete}}autocomplete="off"{{/passwordautocomplete}}> -->
            <input id="anchor" type="hidden" name="anchor" value="">
            <script>document.getElementById('anchor').value = location.hash;</script>
            <input type="hidden" name="logintoken" value="{{logintoken}}">
            <div class="form-item">
                <label for="username" class="bold">
                    {{^canloginbyemail}}
                        {{#str}}username, theme_boost_campus_rwth{{/str}}
                    {{/canloginbyemail}}
                    {{#canloginbyemail}}
                        {{#str}}usernameemail, theme_boost_campus_rwth{{/str}}
                    {{/canloginbyemail}}
                </label>
                <input type="text" name="username" id="username"
                    class="form-control"
                    value="{{username}}">
            </div>
            <div class="form-item">
                <label for="password" class="bold">{{#str}} password {{/str}}</label>
                <input type="password" name="password" id="password" value=""
                    class="form-control">
            </div>

            {{#rememberusername}}
                <div class="rememberpass m-t-1">
                    <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                    <label for="rememberusername">{{#str}}rememberusername, theme_boost_campus_rwth{{/str}}</label>
                </div>
            {{/rememberusername}}

            <button type="submit" class="btn btn-primary btn-block m-t-1" id="loginbtn">{{#str}}login, theme_boost_campus_rwth{{/str}}</button>
        </form>


        <div class="forgetpass m-t-1">
            <a href="{{forgotpasswordurl}}">{{#str}}forgotten, theme_boost_campus_rwth{{/str}}</a>
        </div>
    </div>
</div>
</div>

{{#hasinstructions}}
		<div class="col-12   col-centered">
			<div class="">
			    <div class="card-block">
			        <div class="card-title">
			            <h2>{{#str}}firsttime{{/str}}</h2>
			        </div>
			        <div>
			        {{{instructions}}}
				        {{#cansignup}}
				            <form class="m-t-1" action="{{signupurl}}" method="get" id="signup">
				                <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
				            </form>
				        {{/cansignup}}
			        </div>
			    </div>
			</div>
		</div>


</div> <!-- closes center tag -->
{{/hasinstructions}}


{{#cookieshelpiconformatted}}

<!-- <div class="info col-12 no-gutter col-centered align-self-center"> -->
	<div class="info  no-gutter ">
		<div class="card card-info">
			<div>
				{{#str}}cookiesenabled, theme_boost_campus_rwth{{/str}}
				{{{cookieshelpiconformatted}}}
			</div>
		</div>
	</div>
{{/cookieshelpiconformatted}}


{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
