{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_campus_rwth/frontpage

    RWTH fromtpage layout.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_boost_campus_rwth/frontpage_header}}

    <header id="page-header">
        <div class="col-12 pt-3 pb-3">
            <div class="card border-0 bg-transparent">
                <div class="card-body p-2">
                    <div class="d-flex flex-wrap">
                        <div class="ml-auto d-flex">
                            {{{pageheadingbutton}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        <div class="frontpagebackgroundimage">
            <div id="page" class="container-fluid">
                <div id="main-region-wrapper">
                    <section data-region="incident-blocks" class="d-print-none">
                        {{{ incidentblocks }}}
                    </section>
                    <section data-region="login-mobile-blocks" class="d-print-none">
                        {{{ loginmobileblocks }}}
                    </section>
                    <section id="region-main" class="has-blocks">
                        <div class="card">
                            <div class="card-body">
                                {{{ output.main_content }}}
                            </div>
                        </div>
                    </section>
                </div>
                <div id="side-region-wrapper">
                    <section data-region="login-desktop-blocks" class="d-print-none">
                        {{{ logindesktopblocks }}}
                    </section>
                    <section data-region="blocks-column" class="d-print-none">
                        {{{ sidepreblocks }}}
                    </section>
                </div>
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{{ copyright }}}
    {{{ footer }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
