{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_heeader_content

    This template will render the header content of the conversation page in
    the message message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="d-flex flex-column">
    <div class="d-flex align-items-center">
        {{#showrouteback}}
            <div class="align-self-stretch" >
                <a class="h-100 mr-2 d-flex align-items-center" href="#" data-route-back role="button">
                    {{> core_message/message_drawer_icon_back }}
                </a>
            </div>
        {{/showrouteback}}
        <div class="d-flex text-truncate">
            <a class="d-flex text-truncate text-decoration-none" href="#" data-action="view-group-info" role="button">
                {{#imageurl}}
                    <img
                        class="rounded-circle"
                        src="{{{.}}}"
                        alt="{{name}}"
                        aria-hidden="true"
                        style="height: 38px"
                    >
                {{/imageurl}}
                <div class="w-100 text-truncate ml-2">
                    <div class="d-flex">
                        <strong class="m-0 text-truncate">{{name}}</strong>
                        <span class="{{^isfavourite}}hidden{{/isfavourite}} ml-1 text-primary"
                        data-region="favourite-icon-container" aria-label="{{#str}} favourites, core {{/str}}">
                            {{#pix}} i/star-rating, core {{/pix}}
                        </span>
                        <span class="{{^ismuted}}hidden{{/ismuted}} ml-1 text-primary" data-region="muted-icon-container"
                        aria-label="{{#str}} mutedconversation, core_message {{/str}}">
                            {{#pix}} i/muted, core {{/pix}}
                        </span>
                    </div>
                    <p class="m-0 text-truncate">{{subname}}</p>
                </div>
            </a>
        </div>
        <div class="ml-auto dropdown">
            <button id="conversation-actions-menu-button" class="btn btn-link btn-icon icon-size-3" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="{{#str}} conversationactions, core_message {{/str}}" aria-controls="conversation-actions-menu">
                {{#pix}} i/moremenu, core {{/pix}}
            </button>
            <div id="conversation-actions-menu" class="dropdown-menu float-right" role="menu"
            aria-labelledby="conversation-actions-menu-button">
                <a class="dropdown-item" href="#" data-action="view-group-info" role="menuitem">
                    {{#str}} groupinfo, core_message {{/str}}
                </a>
                <a class="dropdown-item {{#isfavourite}}hidden{{/isfavourite}}" href="#" data-action="confirm-favourite"
                role="menuitem">
                    {{#str}} addtofavourites, core_message {{/str}}
                </a>
                <a class="dropdown-item {{^isfavourite}}hidden{{/isfavourite}}" href="#" data-action="confirm-unfavourite"
                role="menuitem">
                    {{#str}} removefromfavourites, core_message {{/str}}
                </a>
                <a class="dropdown-item {{#ismuted}}hidden{{/ismuted}}" href="#" data-action="confirm-mute"
                role="menuitem">
                    {{#str}} muteconversation, core_message {{/str}}
                </a>
                <a class="dropdown-item {{^ismuted}}hidden{{/ismuted}}" href="#" data-action="confirm-unmute"
                role="menuitem">
                    {{#str}} unmuteconversation, core_message {{/str}}
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <!-- These are just placeholder elements to align the text below correctly with the name text above -->
        {{#showrouteback}}
            <div class="mr-2 icon" aria-hidden="true"></div>
        {{/showrouteback}}
        {{#imageurl}}<div style="width: 38px" aria-hidden="true"></div>{{/imageurl}}
        <!-- End placeholders -->
        <a class="text-decoration-none line-height-3 ml-2" href="#" data-action="view-group-info" role="button">
            <small class="m-0 text-muted text-truncate">
                {{#str}} numparticipants, core_message, {{totalmembercount}} {{/str}}
            </small>
        </a>
    </div>
    {{!MODIFICATION_START}}
    <div class="alert alert-warning  mt-3">{{#str}} messaging_warning, theme_boost_campus_rwth  {{/str}}</div>
    {{!MODIFICATION_END}}
</div>
